
<ion-header>

  <ion-navbar>
    <ion-title>Descrição</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <!-- VETERINÁRIO -->
    <ion-item>
        <h2>Vetetinário:</h2>
        <p> {{consulta.veterinario.nome}} </p>
    </ion-item>
    <!-- CAUSA -->
    <ion-item> 
      <h2>Causa:</h2> 
      <p>{{consulta.causa}}</p>
    </ion-item>
    <!-- DATA DA CONSULTA -->
    <ion-item *ngIf="consulta.data_consulta != null"> 
      <h2>Data da consulta:</h2>
      <p>{{consulta.data_consulta | dataBrasil}}</p>
    </ion-item>
    <!-- RETORNO -->
    <ion-item *ngIf="consulta.data_retorno != null"> 
      <h2>Retorno:</h2>
      <p>{{consulta.data_retorno | dataBrasil}}</p>
    </ion-item>
    <ion-item> 
      <h2>Preço:</h2>
      <p> R$ {{ consulta.preco }} </p>
    </ion-item>

    <!-- REMEDIOS -->
    <ion-list-header><h2>Remédios</h2></ion-list-header>
    <ion-item *ngFor="let remedio of consulta.remedios" [color]="remedio.ativa ? 'secondary' : ''"> 
      <h2>{{ remedio.remedio }}</h2>
      <p>Quantidade: {{ remedio.dosagem }}</p>
      <p *ngIf="remedio.frequencia != null">Frequência: {{ remedio.frequencia }}h</p>
      <p *ngIf="remedio.duracao != null">Duração {{ remedio.duracao}} dia(s)</p>
      <p *ngIf="remedio.inicio != null">Inicio: {{ remedio.inicio | dataBrasil }}</p>
      <p *ngIf="remedio.fim != null">Fim: {{ remedio.fim | dataBrasil }}</p>
    </ion-item>
   
  </ion-list>


</ion-content>
