<ion-header>

  <ion-navbar>
    <ion-title>{{animal.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list >
		<!-- ITENS DO ANO -->
		<ion-item-sliding *ngFor="let consulta of consultas">
			<button ion-item [color]="consulta.ativa ? 'secondary' : ''" (click)="abrir(consulta)">
				<h2>{{consulta.veterinario.nome}}</h2>
				<p *ngIf="consulta.data_consulta != null">{{consulta.data_consulta | dataBrasil }}</p>
			</button>
			<ion-item-options side="right">
				<button ion-button color="danger" (click)="excluir(consulta)">
					<ion-icon name="trash"></ion-icon>Excluir
				</button>
				<!-- <button ion-button color="secondary">
					<ion-icon name="create"></ion-icon>Editar
				</button> -->
			</ion-item-options>
		</ion-item-sliding>

  </ion-list>


  <ion-fab bottom right color="primary">
    <button ion-fab (click)="nova()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
