<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> 
  

    <ion-title>Veterinários</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	
	<ion-list>
		<!-- VETERINÁRIOS -->
		<ion-item-sliding *ngFor="let veterinario of veterinarios">
			<!-- DESCRIÇÃO -->
			<button ion-item> 
					<h2>{{veterinario.nome}} ({{veterinario.clinica}})</h2>
					<p *ngIf="veterinario.telefone != ''">Telefone: {{ veterinario.telefone }}</p>
			</button>
			<!-- AÇÕES -->
			<ion-item-options side="right">
				<button ion-button color="danger" (click)="excluir(veterinario.id)">
					<ion-icon name="trash"></ion-icon>Excluir
				</button>
				<button ion-button color="secondary" (click)="editar(veterinario)">
					<ion-icon name="create"></ion-icon>Editar
				</button>
			</ion-item-options>
		</ion-item-sliding>
  	</ion-list>

	<!-- NOVO -->
  	<ion-fab bottom right color="primary">
		<button ion-fab (click)="novo()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>
</ion-content>
